/*
* category.scss 
* 
* KPMG Challenge ©️ 2019
* https://github.com/allebd/companyABC
*
* SCSS Designed by allebd.
*/

$background: #fcfcfc;
 
/* Category */
.category {
 padding-bottom: 50px;
 width: 100%;
 display: grid;
 grid-template-rows: auto;
 grid-template-areas: "category-header"
                      "category-boxes";
   .category-header {
     grid-area: category-header;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     padding: 50px 50px;

     h2 {
      font-size: 17px;
      font-weight: bold;
      margin: 0;
      margin-right: 10px;
     }

     .category-title1, .category-title2 {
      display: grid;
      grid-template-columns: auto auto;
      align-items: baseline;
      justify-content: flex-start;
     }

     .category-title2 {
      justify-self: right;
     }
   }

   .category-boxes {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    padding: 0px 50px;
   }

   .category-box {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: "category-box-image"
                         "category-box-text";
    background: $background;
   }

   .category-box-text {
      display: grid;
      padding: 1em;
      padding-bottom: 10px;
      
      p {
        margin: 5px 0;
      }
   }

    .category-box-image img {
      object-fit: cover;
    }

   .category-text-title {
     font-weight: bold;
   }

   .category-text-date {
    text-align: right;
  }

   .category-text-description {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
   }

   .category-owner {
    display: grid;
    align-items: center;
    grid-template-columns: 10% 80%;
    border-top: 1px solid #E6EAEA;
    padding-top: 10px;
    font-weight: 500;
   }

   .category-owner-image img {
     width: 20px;
     border-radius: 50%;
     object-fit: cover;
   }

   @media(max-width: 1400px){
    .category-boxes, .category-header {
      grid-template-columns: repeat(3, 1fr);
     }

     .category-text-description {
      grid-template-columns: 1fr;
     }

     .category-boxes {
       width: fit-content;
     }

     
    justify-content: center;
  }

  @media(max-width: 1200px){
    .category-boxes, .category-header {
      grid-template-columns: repeat(2, 1fr);
     }
  }

  @media(max-width: 700px){
    .category-boxes, .category-header {
      grid-template-columns: 1fr;
     }

     .category-header .category-title2 {
        display: none;
      }

      .category-header .category-title1 {
        justify-content: center;
      }
  }
}

.category-button {
  display: grid;
  align-content: center;
  justify-content: center;

  button {
    margin-bottom: 4em;
    padding: 20px 50px;
    color: #BDC1C0;
    background-color: #fcfcfc;
    border: none;
    font-size: 17px;
    cursor: pointer;
  }

  button:hover {
    color: #777777;
  }
}
